html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* .menu-bar > ul li {
  padding: 2px 9px;
  display: inline-flex;
  align-items: center;
}
.menu-bar ul li:hover {
  background: #2bab0d;
  border-radius: 3px;
}




/* [class^="sub-menu-"] ul {
  display: flex;
  flex-direction: column;
  background: #0c3303;
} */

.menu-main,
[class^="menu-sub-"] {
  display: flex;
  justify-content: space-between;
}
nav > div {
  transition: all 1s ease-in-out;
}
.menu-item-children-ctn {
  display: none;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  background-color: black;
}
.menu-main ul li:hover .menu-item-children-ctn {
  display: block;
  top: 25px;
  font-size: 0.9rem;
}
nav .menu-item-heading {
  display: flex;
  align-items: center;
}
.navdrop-ctn {
  display: none;
}
a:hover,
a:active {
  color: brown;
}
@media screen and (max-width: 1023px) {
  .navdrop-ctn {
    display: block;
  }
  .menu-main,
  [class^="menu-sub-"] {
    flex-direction: column;
  }
  .menu-main {
    position: fixed;
    right: -100px;
    background-color: black;
    color: bisque;
    align-items: center;
  }

  .menu-item-children-ctn {
    position: static;
  }
  #check:checked ~ .menu-main {
    width: 100%;
    height: 70vh;
    top: 80px;
    text-align: center;
    left: 0;
    right: 0;
    padding: 1.5rem;
  }
  .menu-sub-2-ctn {
    width: 90px;
    flex-direction: row;
    justify-content: space-between;
  }
}
