html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* .menu-bar > ul li {
  padding: 2px 9px;
  display: inline-flex;
  align-items: center;
}
.menu-bar ul li:hover {
  background: #2bab0d;
  border-radius: 3px;
}




/* [class^="sub-menu-"] ul {
  display: flex;
  flex-direction: column;
  background: #0c3303;
} */

.menu-main,
[class^="menu-sub-"] {
  display: flex;
  justify-content: space-between;
}

nav .menu-item-children-ctn {
  display: none;
}
.menu-main ul li:hover .menu-item-children-ctn {
  display: block;
  bottom: 0px;
  top: 55px;
}
nav .menu-item-heading {
  display: flex;
  align-items: center;
}
.navdrop-ctn {
  display: none;
}
@media screen and (max-width: 1023px) {
  .navdrop-ctn {
    display: block;
  }
  .menu-main,
  [class^="menu-sub-"] {
    flex-direction: column;
  }
  .menu-main {
    position: fixed;
    right: -100px;
    background-color: black;
    color: bisque;
  }
  #check:checked ~ .menu-main {
    right: 10px;
  }
}
